@font-face {
  font-family: "DeepDown";
  src: url("https://www.c00lsch00l.eu//Fonts/DeepDown.ttf");
}
:root {
  background-color: orange;
  background: -webkit-linear-gradient(90deg, orange, #ffc04d);
  background: -o-linear-gradient(90deg, orange, #ffc04d);
  background: -moz-linear-gradient(90deg, orange, #ffc04d);
  background: -ms-linear-gradient(90deg, orange, #ffc04d);
  background: linear-gradient(90deg, orange, #ffc04d);
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2 {
  text-align: left;
  font-size: 25px;
  text-shadow: 1px 1px #666;
  font-family: "DeepDown";
}

p {
  color: #000;
  font-size: 18px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  background-image: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.center {
  text-align: center;
}

.big {
  font-size: 22px;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.cb {
  clear: both;
}

.cr {
  clear: right;
}

.cl {
  clear: left;
}

.win {
  width: 960px;
  margin: auto;
  margin-top: 20px;
  padding: 20px 32px 32px;
  background-color: #ffd78e;
  background: -webkit-linear-gradient(
    to right,
    #ffd78e,
    #ffd382,
    #ffe5b4,
    #ffd78e,
    #ffd78e
  );
  background: -o-linear-gradient(
    to right,
    #ffd78e,
    #ffd382,
    #ffe5b4,
    #ffd78e,
    #ffd78e
  );
  background: -moz-linear-gradient(
    to right,
    #ffd78e,
    #ffd382,
    #ffe5b4,
    #ffd78e,
    #ffd78e
  );
  background: -ms-linear-gradient(
    to right,
    #ffd78e,
    #ffd382,
    #ffe5b4,
    #ffd78e,
    #ffd78e
  );
  background: linear-gradient(
    to right,
    #ffd78e,
    #ffd382,
    #ffe5b4,
    #ffd78e,
    #ffd78e
  );
  border-radius: 13px;
  box-shadow: 5px 5px 20px 7px #e69400;
}

/**NEW**/

.setup_container {
  padding: 10px;
  /*display: inline-block;*/
  float: left;
  margin: 12px;
}

input[type="button"] {
  cursor: pointer;
}

input[type="text"] {
  text-align: center;
}

.version {
  font-family: Consolas;
  font-size: 10px;
}

.hidden {
  display: none;
}

.winTrans {
  width: 960px;
  margin: auto;
  margin-top: 20px;
  padding: 20px 32px 32px;
}

input[type="button"] {
  -webkit-border-radius: 0px 5px 5px 5px;
  border-radius: 0px 5px 5px 5px;
}

#startGame {
  font-weight: bold;
}

#setup2 input[type="text"] {
  font-size: 12px;
  font-family: Consolas;
}

.section {
  display: none;
  font-size: 12px;
  font-family: Consolas;
}
.section fieldset {
  border-radius: 7px;
  /*width: 250px;*/
  width: 600px;
}

.section fieldset p {
  font-size: 12px;
}

.smallsection {
  /*display: none;*/
  font-size: 12px;
  font-family: Consolas;
}
.smallsection fieldset {
  border-radius: 7px;
  width: 250px;
}

.smallsection fieldset p {
  font-size: 12px;
}

.layer {
  position: absolute;
  left: 0;
}
#hiscore {
  border: 1px dotted #888;
  border-radius: 13px;
  padding: 20px;
  box-shadow: 2px 3px 3px 3px #333;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  white-space: pre;
  width: 230px;
  margin-top: 8px;
}
#SC {
  float: right;
}
.gw {
  /*display: inline-block;*/
  float: left;
}

.bordered {
  border: 1px solid black;
  border-radius: 7px;
  width: 240px;
  height: 60px;
}
.scroll_text {
  position: relative;
  top: 12px;
  padding-left: 20px;
  margin-left: 20px;
}